.main-holder{
  position: relative;
  background: url(img/bg-top.jpg) no-repeat 50% 0;
   z-index: 3;
}
.main-holder:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(img/top-shadow.png) repeat-x;
  top: 0;
  left: 0;
  z-index: -1;
}

.header{
   z-index: 99;
}

.text-color-blue{
  color: $color-main;
}

.text-color-green{
  color: $color-green;
}

.text-color-yellow{
  color: $color-yellow;
}

.text-color-pink{
  color: $color-pink;
}