*{
    padding: 0;
    margin: 0;
    @include box-sizing;
}
body{
    font-family: $font-family;
    font-size: 14px;
    color: $color-white;
    @include box-sizing(border-box);
}
a{
    font-weight: 800;
    font-size: 10px;
    cursor: pointer;
    text-transform: uppercase;
    &:hover {

    }
    &:active{
    }   
}
h1,h4,h2,a, h3{
    font-family: 'font2';
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

p{
    font-family: 'font2';
    margin-bottom: 11.5px;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
li{
    list-style: none;
}

button{
    background: transparent;
    border: none;
    cursor: pointer;
    outline: 0;    
}