@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  -o-box-sizing: $type;
  box-sizing: $type;
}
@mixin background-image($color-a, $color-b) {
  background-image: -webkit-gradient(linear,0 0,0 100%,from($color-a),to(#3bb9c3)); 
  background-image: -webkit-linear-gradient(top,$color-a,$color-b); 
  background-image: -o-linear-gradient(top,$color-a,$color-b);
  background-image: linear-gradient(to bottom,$color-a, $color-b); 
}
@mixin transformY($degree) {
  -webkit-transform: rotateY($degree);
  -moz-transform: rotateY($degree);
  -ms-transform: rotateY($degree);
  -o-transform: rotateY($degree);
  transform: rotateY($degree); 
}