$font-family: 'font1', 'font2', 'font3', 'font4', 'font5';
$color-main: #66d1d7;
$color-home: #37bdc6;
$color-black: #2a3037;
$color-green: #7eddc1;
$color-yellow: #e1c96f;
$color-pink: #d685a2;
$color-white: #fff;
$color-light-grey: #d3d3d3;
$color-normal-grey: #787878;
$color-opalescent: #f0f0f0;
$color-feature: #f2f2f2;
$color-a1: #7ed7dd;
$color-a2: #5db6bc;
$color-b1: #7eddc1;
$color-b2: #5ebca0;
$color-c1: #e1c96f;
$color-c2: #c0a84e;
$color-d1: #d685a2;
$color-d2: #b56481;
$color-footer: #292f36;
