$font-family: 'font1', 'font2', 'font3', 'font4', 'font5';
$color-main: #66d1d7;
$color-home: #37bdc6;
$color-black: #2a3037;
$color-green: #7eddc1;
$color-yellow: #e1c96f;
$color-pink: #d685a2;
$color-white: #fff;
$color-light-grey: #d3d3d3;
$color-normal-grey: #787878;

