@font-face {
  font-family: 'font1';
  src: url("fonts/font1.woff2"); }

@font-face {
  font-family: 'font2';
  src: url("fonts/font2.woff2"); }

@font-face {
  font-family: 'font3';
  src: url("fonts/font3.woff2"); }

@font-face {
  font-family: 'font4';
  src: url("fonts/font4.woff2"); }

@font-face {
  font-family: 'font5';
  src: url("fonts/font5.woff2"); }

html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address,
del, em, img, small, strong, b, u, i, hr,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
button,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  word-wrap: break-word; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: inherit;
  font-weight: inherit;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

a img {
  border: none; }

article, aside, details, figure, footer, header, menu, nav, section, summary {
  display: block; }

.feature-box .carousel-box::after, .container::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "font1", "font2", "font3", "font4", "font5";
  font-size: 14px;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

a {
  font-weight: 800;
  font-size: 10px;
  cursor: pointer;
  text-transform: uppercase; }

h1, h4, h2, a, h3, h5 {
  font-family: 'font2';
  letter-spacing: -0.5px;
  text-transform: uppercase; }

p {
  font-family: 'font2';
  margin-bottom: 11.5px; }

img {
  max-width: 100%;
  vertical-align: middle; }

li {
  list-style: none; }

button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: 0; }

.main-holder {
  position: relative;
  background: url(img/bg-top.jpg) no-repeat 50% 0;
  z-index: 3; }

.main-holder:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(img/top-shadow.png) repeat-x;
  top: 0;
  left: 0;
  z-index: -1; }

.header {
  z-index: 99; }

.text-color-blue {
  color: #66d1d7; }

.text-color-green {
  color: #7eddc1; }

.text-color-yellow {
  color: #e1c96f; }

.text-color-pink {
  color: #d685a2; }

.slide-wrapper {
  position: relative;
  height: 440px;
  margin-bottom: 7px; }
  .slide-wrapper .slide-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(img/slider-shadow.png) repeat-x; }
  .slide-wrapper .slide-content {
    position: absolute;
    top: 145px;
    left: 85px; }
    .slide-wrapper .slide-content h2 {
      font-size: 50px;
      color: #66d1d7;
      letter-spacing: 0; }
      .slide-wrapper .slide-content h2 b {
        font-family: 'font5';
        font-weight: 200;
        color: #fff; }
    .slide-wrapper .slide-content .slide-button {
      padding-top: 32px; }

.feature-box {
  background: #2a3037;
  padding-bottom: 10px;
  margin-bottom: 30px;
  box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3); }
  .feature-box h2 {
    font-size: 25.5px;
    color: #2a3037;
    background-color: #f2f2f2;
    padding: 22px 32px 23px; }
  .feature-box .carousel-box {
    margin: 25px 40px 14px 40px; }
    .feature-box .carousel-box .carousel {
      position: relative;
      height: 120px; }
      .feature-box .carousel-box .carousel .camera-prev {
        position: absolute;
        top: 50%;
        transform: translateY(-35%);
        left: -60px; }
      .feature-box .carousel-box .carousel .camera-next {
        position: absolute;
        top: 50%;
        transform: translateY(-35%);
        right: -60px; }
      .feature-box .carousel-box .carousel .carousel-item {
        width: calc(100%/5);
        float: left;
        padding: 0 9px;
        margin-bottom: 12px; }
        .feature-box .carousel-box .carousel .carousel-item .carousel-border {
          border: 6px solid #fff; }
        .feature-box .carousel-box .carousel .carousel-item .carousel-border:hover {
          border: 6px solid #e1c96f; }

.news-events-box {
  margin-bottom: 55px; }
  .news-events-box .news-items {
    padding-left: 30px;
    float: left; }
    .news-events-box .news-items .item-border h5 {
      padding: 18px 32px;
      font-size: 25px;
      letter-spacing: 0; }
      .news-events-box .news-items .item-border h5 b {
        font-family: 'font1';
        font-weight: bold;
        letter-spacing: 0.2px; }
    .news-events-box .news-items .item-border .img-box {
      height: 138px;
      overflow: hidden;
      margin-bottom: 24px; }
    .news-events-box .news-items .item-border p {
      height: 92px;
      overflow: hidden;
      margin-bottom: 24px !important;
      font-family: Arial,Helvetica,sans-serif;
      padding: 0 31px;
      font-size: 14px;
      line-height: 23px; }
  .news-events-box .news-items:first-child .item-border {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ed7dd), to(#3bb9c3));
    background-image: -webkit-linear-gradient(top, #7ed7dd, #5db6bc);
    background-image: -o-linear-gradient(top, #7ed7dd, #5db6bc);
    background-image: linear-gradient(to bottom, #7ed7dd, #5db6bc); }
    .news-events-box .news-items:first-child .item-border h5 {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7ed7dd), to(#3bb9c3));
      background-image: -webkit-linear-gradient(top, #7ed7dd, #5db6bc);
      background-image: -o-linear-gradient(top, #7ed7dd, #5db6bc);
      background-image: linear-gradient(to bottom, #7ed7dd, #5db6bc); }
    .news-events-box .news-items:first-child .item-border a {
      color: #66d1d7; }
  .news-events-box .news-items:nth-child(2) .item-border {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7eddc1), to(#3bb9c3));
    background-image: -webkit-linear-gradient(top, #7eddc1, #5ebca0);
    background-image: -o-linear-gradient(top, #7eddc1, #5ebca0);
    background-image: linear-gradient(to bottom, #7eddc1, #5ebca0); }
    .news-events-box .news-items:nth-child(2) .item-border h5 {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#7eddc1), to(#3bb9c3));
      background-image: -webkit-linear-gradient(top, #7eddc1, #5ebca0);
      background-image: -o-linear-gradient(top, #7eddc1, #5ebca0);
      background-image: linear-gradient(to bottom, #7eddc1, #5ebca0); }
    .news-events-box .news-items:nth-child(2) .item-border a {
      color: #7eddc1; }
  .news-events-box .news-items:nth-child(3) .item-border {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1c96f), to(#3bb9c3));
    background-image: -webkit-linear-gradient(top, #e1c96f, #c0a84e);
    background-image: -o-linear-gradient(top, #e1c96f, #c0a84e);
    background-image: linear-gradient(to bottom, #e1c96f, #c0a84e); }
    .news-events-box .news-items:nth-child(3) .item-border h5 {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e1c96f), to(#3bb9c3));
      background-image: -webkit-linear-gradient(top, #e1c96f, #c0a84e);
      background-image: -o-linear-gradient(top, #e1c96f, #c0a84e);
      background-image: linear-gradient(to bottom, #e1c96f, #c0a84e); }
    .news-events-box .news-items:nth-child(3) .item-border a {
      color: #e1c96f; }
  .news-events-box .news-items:nth-child(4) .item-border {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d685a2), to(#3bb9c3));
    background-image: -webkit-linear-gradient(top, #d685a2, #b56481);
    background-image: -o-linear-gradient(top, #d685a2, #b56481);
    background-image: linear-gradient(to bottom, #d685a2, #b56481); }
    .news-events-box .news-items:nth-child(4) .item-border h5 {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d685a2), to(#3bb9c3));
      background-image: -webkit-linear-gradient(top, #d685a2, #b56481);
      background-image: -o-linear-gradient(top, #d685a2, #b56481);
      background-image: linear-gradient(to bottom, #d685a2, #b56481); }
    .news-events-box .news-items:nth-child(4) .item-border a {
      color: #d685a2; }

.articles-box {
  padding-bottom: 63px; }
  .articles-box .articles, .articles-box .articles-large-box, .articles-box .articles-small-box {
    float: left;
    color: black;
    padding-left: 30px; }
  .articles-box p {
    padding-right: 30px;
    width: 100%;
    margin-bottom: 45px;
    font: 14px Arial,Helvetica,sans-serif;
    color: #787878;
    line-height: 23px; }
  .articles-box .articles-btn {
    background-color: #2a3037;
    color: white;
    margin: 0;
    box-shadow: 1px 2px 0 rgba(0, 0, 0, 0.3); }
  .articles-box .articles-large-box {
    margin-top: 8px; }
    .articles-box .articles-large-box .articles-content {
      padding-top: 11.5px; }
    .articles-box .articles-large-box h2, .articles-box .articles-large-box h3, .articles-box .articles-large-box h4 {
      letter-spacing: 0; }
    .articles-box .articles-large-box h2 {
      font-family: 'font5';
      font-size: 45px;
      line-height: 42px;
      color: #66d1d7; }
    .articles-box .articles-large-box h3 {
      font-size: 25px;
      line-height: 28px;
      margin: 1px 0 27px 5px; }
    .articles-box .articles-large-box h4 {
      font: bold 20px/24px 'font2';
      font-weight: 200;
      margin-bottom: 15px; }
  .articles-box .articles-small-box {
    margin-top: 8px;
    height: 100%;
    float: left; }
    .articles-box .articles-small-box h2 {
      letter-spacing: 0;
      margin-top: 4px;
      padding-bottom: 25px; }
      .articles-box .articles-small-box h2 strong {
        font-size: 25px; }
      .articles-box .articles-small-box h2 span {
        font: bold 24px/24px 'font5'; }
    .articles-box .articles-small-box p {
      margin-bottom: 20px;
      padding-right: 0; }
    .articles-box .articles-small-box .articles-item {
      padding-bottom: 28px; }
  .articles-box .articles-img-box {
    width: 50%;
    float: left;
    padding-right: 15px;
    margin-right: 15px;
    height: 138px;
    overflow: hidden; }
    .articles-box .articles-img-box .articles-img {
      width: 100%; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.row {
  overflow: hidden;
  margin-left: -30px; }

.btn, .camera-next, .camera-prev {
  border: 1px solid grey;
  float: left;
  margin-right: 1.5px;
  background-color: #f0f0f0;
  text-align: center; }
  .btn .arrow, .camera-next .arrow, .camera-prev .arrow, .camera-next .arrow-next, .camera-next .arrow-next:hover, .camera-prev .arrow-prev, .camera-prev .arrow-prev:hover {
    width: 50px;
    height: 53px;
    background-size: cover; }
  .btn:hover, .camera-next:hover, .camera-prev:hover {
    background-color: #e1c96f; }

.camera-next .arrow-next {
  background: url(img/nav-slider-next.png) no-repeat; }

.camera-next .arrow-next:hover {
  background: url(img/nav-slider-next-hover.png) no-repeat; }

.camera-prev .arrow-prev {
  background: url(img/nav-slider-prev.png) no-repeat; }

.camera-prev .arrow-prev:hover {
  background: url(img/nav-slider-prev-hover.png) no-repeat; }

.news-btn {
  padding-bottom: 30px; }
  .news-btn a {
    margin: 0 32px;
    display: inline-block;
    padding: 11.5px 23px;
    font: 600 14px/1.2em 'font5';
    background-color: #fff; }
    .news-btn a:hover {
      background-color: #2a3037;
      color: white !important; }

.header {
  padding: 30px 0 0 0; }

.header-box .row {
  margin-left: 0; }

.header-box .brand-box {
  width: 50%;
  float: left;
  margin: 50px 0 0 0; }
  .header-box .brand-box .logo-tagline {
    text-transform: uppercase;
    position: relative;
    top: -16px;
    left: 73px;
    font-size: 15px;
    font-weight: 100;
    color: #d3d3d3; }

.header-box .social-box {
  margin: 64px 0 0 0;
  width: 50%;
  float: left; }
  .header-box .social-box .social-list {
    float: right; }
    .header-box .social-box .social-list .social-item {
      display: inline-block;
      background-color: #2a3037;
      box-shadow: 2px 2px 0 rgba(29, 29, 34, 0.4);
      margin-left: 5px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%; }
    .header-box .social-box .social-list .social-item:hover {
      background-color: #66d1d7; }
      .header-box .social-box .social-list .social-item:hover a img {
        transition: all 0.5s ease 0s;
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg); }

.header-box .navbar {
  margin-top: 34px;
  height: 70px;
  background-color: #66d1d7; }
  .header-box .navbar .navbar-list {
    height: 100%; }
    .header-box .navbar .navbar-list .navbar-item, .header-box .navbar .navbar-list .navbar-item-home, .header-box .navbar .navbar-list .navbar-item-search {
      position: relative;
      width: calc(68.4%/5);
      height: 100%;
      float: left;
      border-left: 1px solid #91e5e9;
      border-right: 1px solid #37bdc6;
      display: table;
      font-weight: 800; }
      .header-box .navbar .navbar-list .navbar-item a, .header-box .navbar .navbar-list .navbar-item-home a, .header-box .navbar .navbar-list .navbar-item-search a {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        font-size: 13.2px;
        position: relative;
        color: white;
        text-decoration: none; }
      .header-box .navbar .navbar-list .navbar-item .sub-navbar-list, .header-box .navbar .navbar-list .navbar-item-home .sub-navbar-list, .header-box .navbar .navbar-list .navbar-item-search .sub-navbar-list {
        z-index: 10;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0;
        visibility: hidden;
        transition: all 0.5s ease 0s;
        opacity: 0;
        padding: 21px;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#76d9de), to(#3bb9c3));
        background-image: -webkit-linear-gradient(top, #76d9de, #60cfd5);
        background-image: -o-linear-gradient(top, #76d9de, #60cfd5);
        background-image: linear-gradient(to bottom, #76d9de, #60cfd5); }
        .header-box .navbar .navbar-list .navbar-item .sub-navbar-list li, .header-box .navbar .navbar-list .navbar-item-home .sub-navbar-list li, .header-box .navbar .navbar-list .navbar-item-search .sub-navbar-list li {
          line-height: 23px;
          text-align: center; }
          .header-box .navbar .navbar-list .navbar-item .sub-navbar-list li .item, .header-box .navbar .navbar-list .navbar-item-home .sub-navbar-list li .item, .header-box .navbar .navbar-list .navbar-item-search .sub-navbar-list li .item {
            display: block;
            width: 100%;
            padding: 7px 0;
            font-size: 13px;
            text-align: center;
            transition: all 0.3s ease 0s; }
        .header-box .navbar .navbar-list .navbar-item .sub-navbar-list li:hover, .header-box .navbar .navbar-list .navbar-item-home .sub-navbar-list li:hover, .header-box .navbar .navbar-list .navbar-item-search .sub-navbar-list li:hover {
          color: #2a3037; }
    .header-box .navbar .navbar-list .active:before {
      content: '';
      width: 100%;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease 0s;
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#48c7cf), to(#3bb9c3));
      background-image: -webkit-linear-gradient(top, #48c7cf, #3bb9c3);
      background-image: -o-linear-gradient(top, #48c7cf, #3bb9c3);
      background-image: linear-gradient(to bottom, #48c7cf, #3bb9c3); }
    .header-box .navbar .navbar-list .active:hover:before {
      height: 100%; }
    .header-box .navbar .navbar-list .active:hover .sub-navbar-list {
      visibility: visible;
      opacity: 1; }
    .header-box .navbar .navbar-list .navbar-item-home {
      border-left: none;
      width: 5.7%;
      background: url(img/home.png) no-repeat 50%;
      background-color: #37bdc6; }
    .header-box .navbar .navbar-list .navbar-item-search {
      width: 25.4%;
      border-right: none;
      padding: 0 14px 0 40px;
      display: table; }
      .header-box .navbar .navbar-list .navbar-item-search .search-box {
        display: table-cell;
        vertical-align: middle;
        position: relative; }
        .header-box .navbar .navbar-list .navbar-item-search .search-box .input-search {
          background-color: #54bac1;
          border-radius: 10px;
          border: none;
          width: 100%;
          height: 39px;
          box-shadow: inset 1px 1px 0 #4da9af; }
        .header-box .navbar .navbar-list .navbar-item-search .search-box .input-btn {
          background: url(img/search.png) no-repeat 50% 50%;
          width: 48px;
          height: 48px;
          position: absolute;
          padding: 10% 0;
          top: 11px;
          right: -3px; }

.footer {
  background-color: #292f36; }
  .footer .item-footer, .footer .copyright-footer, .footer .information-footer {
    width: 50%;
    float: left; }
  .footer .copyright-footer {
    padding: 5px 0 0 30px; }
    .footer .copyright-footer span {
      padding-left: 5px;
      font: 300 14px/1em 'font2';
      color: #d9bb4b;
      text-transform: uppercase; }
  .footer .information-footer .info-item {
    float: left;
    padding-left: 30px; }
    .footer .information-footer .info-item h4 {
      color: #FFFFFF;
      font-weight: 300;
      font-size: 25px;
      line-height: 1em;
      margin-bottom: 20px;
      letter-spacing: 0; }
    .footer .information-footer .info-item .menu-footer li {
      background: url(img/cat-arrow.png) no-repeat 0 9px;
      line-height: 23px;
      padding-left: 31px; }
      .footer .information-footer .info-item .menu-footer li a {
        font: 14px/33px Arial, "Helvetica Neue",Helvetica, sans-serif;
        color: #787878;
        text-transform: none;
        letter-spacing: 0; }

@media screen and (max-width: 1441px) {
  .news-items {
    width: calc(100%/4); }
  .articles-large-box {
    width: 50%; }
  .articles-small-box {
    width: 25%; }
  .footer {
    padding: 98px 0 40px; }
  .copyright-footer {
    padding: 5px 0 0 30px; }
  .info-item {
    width: calc(100%/3); } }

@media screen and (max-width: 1199px) {
  .container {
    width: 940px; } }

@media screen and (max-width: 979px) {
  .container {
    width: 724px; }
  .navbar-item-search {
    padding: 0 12px 0 20px !important; } }

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    padding: 20px; }
  .navbar-item, .header-box .navbar .navbar-list .navbar-item-home, .header-box .navbar .navbar-list .navbar-item-search {
    display: none; }
  .news-items {
    margin-bottom: 60px;
    width: 100%; }
    .news-items .img-box {
      text-align: center;
      padding-top: 10px; }
  .articles-large-box {
    width: 100%; }
  .articles-small-box {
    width: 100%; }
  .footer {
    padding-top: 30px; }
  .copyright-footer {
    width: 100% !important;
    text-align: center; }
  .info-item {
    margin-top: 30px;
    width: 100%; } }
