.btn{
  border: 1px solid grey;
  float: left;
  margin-right: 1.5px;
  background-color: $color-opalescent;
  text-align: center;
  .arrow{
    width: 50px;
    height: 53px;
    background-size: cover;
  }
}
.btn:hover{
  background-color: $color-yellow;
}
.camera-next{
  @extend .btn;
  .arrow-next{
    @extend .arrow;
    background: url(img/nav-slider-next.png) no-repeat;
  }
  .arrow-next:hover{
    @extend .arrow;
    background: url(img/nav-slider-next-hover.png) no-repeat;
  }
}
.camera-prev{
  @extend .btn;
  .arrow-prev{
    @extend .arrow;
    background: url(img/nav-slider-prev.png) no-repeat;
  }
  .arrow-prev:hover{
    @extend .arrow;
    background: url(img/nav-slider-prev-hover.png) no-repeat;
  }
}
.news-btn{
  padding-bottom: 30px;
  a{
    margin: 0 32px;
    display: inline-block;
    padding: 11.5px 23px;
    font: 600 14px/1.2em 'font5';
    background-color: $color-white;
  }
  a:hover{
    background-color: $color-black;
    color: white !important;
  }
}
