@media screen and (max-width: 1441px){
  .news-items{
    width: calc(100%/4);
  }
  .articles-large-box{
    width: 50%;
  }
  .articles-small-box{
    width: 25%;
  }
  .footer{
    padding: 98px 0 40px;
  }
  .copyright-footer{
    padding: 5px 0 0 30px;
  }
  .info-item{
    width: calc(100%/3);
  }
}

@media screen and (max-width: 1199px){
  .container{
    width: 940px;
  }
}

@media screen and (max-width: 979px){
  .container {
    width: 724px;
  }
  .navbar-item-search {
    padding: 0 12px 0 20px !important;
  }

}

@media screen and (max-width: 767px){
  .container{
    width: 100%;
    padding: 20px;
  }
  .navbar-item{
   display: none;
  }
  .news-items{
    margin-bottom: 60px;
    width: 100%;
    .img-box{
      text-align: center;
      padding-top: 10px;
    }
  }
  .articles-large-box{
    width: 100%;
  }
  .articles-small-box{
    width: 100%;
  }
  .footer{
    padding-top: 30px;
  }
  .copyright-footer{
    width: 100% !important;
    text-align: center;
  }
  .info-item{
    margin-top: 30px;
    width: 100%;
  }
}